@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto', Arial, sans-serif;
}

body  {
	background-color: lavender;
    width: 85%;
    margin: 0 auto;
    margin-top: 75px;
    max-width: 1200px;
}

a  {
	color: rebeccapurple;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-right: 1%;
    margin-left: 1%;
}

h5 {
    color: black;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #1e2625;
    position: fixed;
    top: 0;
    width: 83.375%;
}

li  {
	float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: mediumpurple;
    color: white;
}

a:hover {
    color: mediumpurple;
}

/* Start of class CSS rules */

.active {
    background-color: rebeccapurple;
}

.title {
    color: mediumpurple;
    background-color: lavender;
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

/* Start of size controls */

.size100 {
    width: 96%;
    float: left;
    margin: 1%;
}

.size75 {
    width: 71%;
    float: left;
    margin: 1%;
}

.size50 {
    width: 46%;
    float: left;
    margin: 1%;
}

.size40 {
    width: 36%;
    float: left;
    margin: 1%;
}

.size33 {
    width: 29.3%;
    float: left;
    margin: 1%;
}

.size30 {
    width: 26%;
    margin: 1%;
    float: left;
}

.size25 {
    width: 21%;
    margin: 1%;
    float: left;
}

.size20 {
    width: 16%;
    margin: 1%;
    float: left   
}

.size10 {
    width: 6%;
    margin: 1%;
    float: left;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="size"] {
        width: 100%;}
}

@media screen and (max-width: 768px){
    li {float: left;}
    li a {display: block;}
    body {margin-top: 110px;}
}

@media screen and (max-width: 400px){
    li {float: left;}
    li a {display: block;}
    body {margin-top: 170px;}
}

@media screen and (min-width: 768px){
    li a {display: block;}
}


/* End of size controls */

nav, #feature, #footer {
    margin: 1%;
}

#feature, article {
    height: 15em;
    margin-bottom: 1em;
    background-color: whitesmoke;
    overflow: auto;
    padding: 1%;
}

.leftalign {
    text-align: left;
}

.centeralign {
    text-align: center;
}

.rightalign {
    text-align: right;
}

.post {
    height: 15em;
    margin-bottom: 1em;
    background-color: whitesmoke;
    overflow: auto;
    text-align: left;
    padding: 1%;
}

.image{
    height: 25em;
    margin-bottom: 1em;
    background-color: whitesmoke;
    overflow: auto;
    text-align: center;
}

#head2 {
    height: auto;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1em;
    background-color: whitesmoke;
    overflow: auto;
    text-align: center;
}
